body {
	background-color: #333;
	color: #EEE;
}

button {
	background-color: transparent;
	border: 1px solid #EEE;
	border-radius: 5px;
	color: #EEE;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}